h1 {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 40%;
    text-align: center;
    font-family: Arial;
    font-size: 60px;
    margin: auto;
    word-spacing: normal;
    width: 100%;
}

input {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 217px);
    width: 434px;
    height: 50px;
    border-radius: 30px;
    text-align: left;
    padding-left: 30px;
    font-size: 25px;
}
.icon{
    position: absolute;
    left: calc(50% + 180px);
    top:calc(50% - 8px);
}